/* ------- Header ------- */
header,
footer {
  background-color: var(--primary-color);
}

header *,
footer * {
  color: white;
}

header .container {
  padding: 0.7rem 0;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-right {
  display: flex;
  gap: 0.3rem;
}

/* ------- Navbar ------- */
nav {
  background-color: white;
  position: sticky;
  top: 0;
}

nav .container {
  padding: 1.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

nav .logo {
  font-size: 2rem;
}

nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.1rem;
}

nav .active {
  color: var(--primary-color);
}

.nav-cart {
  position: relative;
  font-size: 1.2rem;
}

.nav-cart-badge {
  position: absolute;
  background-color: var(--primary-color);
  top: -0.6rem;
  right: -0.3rem;
  color: white;
  font-size: 0.8rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* ------- Footer ------- */
footer .footer-grid {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

footer h2 {
  margin-bottom: 1.2rem;
}

footer ul li {
  margin-bottom: 1rem;
}

footer .copyright {
  text-align: center;
  padding: 1.4rem 0;
  border-top: 1px solid gray;
}
