/* ------- Hero ------- */
#hero {
  background-color: gray;
  height: calc(100vh - 100px);
}

#hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
