/* --- Poppins Regular (400) --- */
@font-face {
  font-family: 'poppins-custom';
  src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
       url('../assets/fonts/Poppins-Regular.woff') format('woff'),
       url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}

/* --- Poppins Medium (500) --- */
@font-face {
  font-family: 'poppins-custom';
  src: url('../assets/fonts/Poppins-Medium.woff2') format('woff2'),
       url('../assets/fonts/Poppins-Medium.woff') format('woff'),
       url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}

/* --- Poppins SemiBold (600) --- */
@font-face {
  font-family: 'poppins-custom';
  src: url('../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
       url('../assets/fonts/Poppins-SemiBold.woff') format('woff'),
       url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
  font-display: swap;
}

/* --- Poppins Bold (700) --- */
@font-face {
  font-family: 'poppins-custom';
  src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
       url('../assets/fonts/Poppins-Bold.woff') format('woff'),
       url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}

/* --- Poppins Italic (400, italic) --- */
@font-face {
  font-family: 'poppins-custom';
  src: url('../assets/fonts/Poppins-Italic.woff2') format('woff2'),
       url('../assets/fonts/Poppins-Italic.woff') format('woff'),
       url('../assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400; 
  font-style: italic;
  font-display: swap;
}


/* --- Play Regular (400) --- */
@font-face {
  font-family: 'play-custom';
  src: url('../assets/fonts/Play-Regular.woff2') format('woff2'),
       url('../assets/fonts/Play-Regular.woff') format('woff'),
       url('../assets/fonts/Play-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}

/* --- Play Bold (700) --- */
@font-face {
  font-family: 'play-custom';
  src: url('../assets/fonts/Play-Bold.woff2') format('woff2'),
       url('../assets/fonts/Play-Bold.woff') format('woff'),
       url('../assets/fonts/Play-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}
