@import "tailwindcss";

@layer base {
  :root {
    --color-bg-light: 255 255 255;
    --color-bg-dark: 17 24 39;
    --color-text-light: 0 0 0;
    --color-text-dark: 255 255 255;
    --color-primary: 34 197 94;
    --color-secondary: 59 130 246;
    --color-accent: 234 179 8;
    --color-error: 239 68 68;
  }

  .light {
    --bg: 245 246 250;
    --text: 20 20 30;
    --bg-secondary: 232 234 238;
    --border: 210 214 220;
    --input-bg: 255 255 255;

    --color-primary: 99 102 241;
    --color-secondary: 147 51 234;
    --color-accent: 37 99 235;
    --color-error: 220 38 38;
  }

  .dark {
    --bg: 10 10 15;
    --text: 235 235 245;
    --bg-secondary: 20 20 30;
    --border: 45 45 60;
    --input-bg: 25 25 35;

    --color-primary: 99 102 241;
    --color-secondary: 147 51 234;
    --color-accent: 56 189 248;
    --color-error: 239 68 68;
  }

  body {
    @apply bg-[rgb(var(--bg))] text-[rgb(var(--text))] transition-colors duration-500;
  }
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.play-custom * {
  font-family: play-custom;
}

.poppins-custom * {
  font-family: poppins-custom, sans-serif, serif;
}

.Roboto * {
  font-family:  serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  @keyframes gradient-move {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .animate-gradient-move {
    animation: gradient-move 2s linear infinite;
  }
}

.cursor-not-all,
.cursor-not-all * {
  cursor: not-allowed !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(20, 20, 30) !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(99, 102, 241, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 102, 241, 1);
}

.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
